{% extends 'base.html' %}

{% block title %}
    Kifayeti cars|Log In
{% endblock title %}

{% block content %}
<div class="container">
    <div class="mx-3, my-3, px-3, py-3 text-center">
        <h1>
            User Log In
        </h1>
    </div>
    <div class="py-5">
        <div class="row">
            <div class="col-10">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
