{% extends 'base.html' %}
{% block title %}
    Kifayeti Cars|Register
{% endblock title %}

{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Kifayeti Cars Registration Page</h1>
    </div>
    <div class="py-5">
        <div class="row">
            <div class="col-10">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}